@font-face {
    font-family: 'PTSans';
    src: url('../fonts/ptsans/PTS55F-webfont.eot');
    src: url('../fonts/ptsans/PTS55F-webfont.eot') format('embedded-opentype'),
         url('../fonts/ptsans/PTS55F-webfont.woff') format('woff'),
         url('../fonts/ptsans/PTS55F-webfont.ttf') format('truetype'),
         url('../fonts/ptsans/PTS55F-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PTSansCaption';
    src: url('../fonts/ptsans_caption/PTC55F-webfont.eot');
    src: url('../fonts/ptsans_caption/PTC55F-webfont.eot') format('embedded-opentype'),
         url('../fonts/ptsans_caption/PTC55F-webfont.woff') format('woff'),
         url('../fonts/ptsans_caption/PTC55F-webfont.woff') format('truetype'),
         url('../fonts/ptsans_caption/PTC55F-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "DejaVu Sans";
    src: url('../fonts/DejaVuSans.ttf');
    font-weight: normal;
    font-style: normal;
}
/*
@font-face {
    font-family: "DejaVu Sans";
    src: url('../fonts/dejavusans_book/DejaVuSans-webfont.eot');
    src: url('../fonts/dejavusans_book/DejaVuSans-webfont.eot') format('embedded-opentype'),
         url('../fonts/dejavusans_book/DejaVuSans-webfont.woff') format('woff'),
         url('../fonts/dejavusans_book/DejaVuSans-webfont.woff') format('truetype'),
         url('../fonts/dejavusans_book/DejaVuSans-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "DejaVu Sans";
    src: url('../fonts/dejavusans_bold/DejaVuSans-Bold-webfont.eot');
    src: url('../fonts/dejavusans_bold/DejaVuSans-Bold-webfont.eot') format('embedded-opentype'),
         url('../fonts/dejavusans_bold/DejaVuSans-Bold-webfont.woff') format('woff'),
         url('../fonts/dejavusans_bold/DejaVuSans-Bold-webfont.woff') format('truetype'),
         url('../fonts/dejavusans_bold/DejaVuSans-Bold-webfont.svg') format('svg');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: "DejaVu Sans";
    src: url('../fonts/dejavusans_oblique/DejaVuSans-Oblique-webfont.eot');
    src: url('../fonts/dejavusans_oblique/DejaVuSans-Oblique-webfont.eot') format('embedded-opentype'),
         url('../fonts/dejavusans_oblique/DejaVuSans-Oblique-webfont.woff') format('woff'),
         url('../fonts/dejavusans_oblique/DejaVuSans-Oblique-webfont.woff') format('truetype'),
         url('../fonts/dejavusans_oblique/DejaVuSans-Oblique-webfont.svg') format('svg');
    font-weight: normal;
    font-style: italic, oblique;
}
@font-face {
    font-family: "DejaVu Sans";
    src: url('../fonts/dejavusans_boldoblique/DejaVuSans-BoldOblique-webfont.eot');
    src: url('../fonts/dejavusans_boldoblique/DejaVuSans-BoldOblique-webfont.eot') format('embedded-opentype'),
         url('../fonts/dejavusans_boldoblique/DejaVuSans-BoldOblique-webfont.woff') format('woff'),
         url('../fonts/dejavusans_boldoblique/DejaVuSans-BoldOblique-webfont.woff') format('truetype'),
         url('../fonts/dejavusans_boldoblique/DejaVuSans-BoldOblique-webfont.svg') format('svg');
    font-weight: bold;
    font-style: italic, oblique;
}*/

/************
 * Couleurs *
 ************/

/*
noirclair #1A1A1A

vert #51A523

vert2 #7AA50F

bleu papi #0190A5
bleu #243183
gris #9B9B9B
gris foncé #343434
gris clair #DBDBDB

@grayMedium:            #777;
@grayLightMedium:       #d4d4d4;

@blueLight:             #0190A5;
@blue:                  #049cdb;
@blueDark:              #243285;
@blueDarkLight:         fade(@blueDark,70%);
@green:                 #52A624;
@greenLight:            #7AC943;
@greenDark:             #7AA50F;
@red:                   #EE1A2A;
@redLight:              #ed303f;
@orange:                #F7931E;
@orangeLight:           #ed9f44;
@pinkLight:             #D6B5D8;

@beige:                 #E4DAC1;
@beigeLight:            #F2EAD6;
@brownLight:            #998675;
@brown:                 #796a5c;
@brownDark:             #6B5E52;
*/

/* Anciennes classes *
 * Couleur des Framatitre */
.violet, .frama, .titrelong { color: #243285; } /* @blueDark BLEU INFINI */
.orange, .soft, .infini     { color: #52a624; } /* @green VERT INFINI */
.bleu, .logiciel            { color: #243285; } /* @blueDark BLEU INFINI */
.rouge, .culture            { color: #ed303f; } /* @redLight */
.vert, .services            { color: #7AC943; } /* @greenLight*/
.jaune, .vrac               { color: #ed9f44; } /* @orangeLight*/

/* Classes pour utiliser la couleur de titre en arrière plan */
.fond-frama    { background-color: #243285; } /* @blueDark BLEU INFINI */
.fond-soft     { background-color: #52a624; } /* @green VERT INFINI */
.fond-logiciel { background-color: #243285; } /* @blueDark BLEU INFINI */
.fond-culture  { background-color: #ed303f; } /* @redLight */
.fond-services { background-color: #7AC943; } /* @greenLight*/
.fond-vrac     { background-color: #ed9f44; } /* @orangeLight*/

/* Nouvelles classes *
 * f = frama violet ; v = vert ; b = bleu ; j = jaune ; r = rouge ; o = orange ; m = marron ; g = gris
 * fb_ = background ; fc_ = color */

/* Ref #243285 = RGB(106,86,135) = HSV(264,36,53) */
.fb_f0 { background-color: #d3d8f5;}
.fb_f1 { background-color: #8594ea;}
.fb_f2 { background-color: #4b61e0;}
.fb_f3 { background-color: #364ac6;}
.fb_f4 { background-color: #2c3da0;}
.fb_f5 { background-color: #243285;} /* btn-primary */
.fb_f6 { background-color: #243285;}
.fb_f7 { background-color: #1f2b74;}
.fb_f8 { background-color: #19225a;}
.fb_f9 { background-color: #141c4a;}

.fc_f0 { color: #d3d8f5;}
.fc_f1 { color: #8594ea;}
.fc_f2 { color: #4b61e0;}
.fc_f3 { color: #364ac6;}
.fc_f4 { color: #2c3da0;}
.fc_f5 { color: #243285;} /* .frama */
.fc_f6 { color: #243285;} /* a:hover */
.fc_f7 { color: #1f2b74;}
.fc_f8 { color: #19225a;}
.fc_f9 { color: #141c4a;}

/* Ref #8E9C48 = RGB(142,156,72) = HSV(70,54,61) */
.fb_v0 { background-color: #ecfce3;}
.fb_v1 { background-color: #d5f5c3;}
.fb_v2 { background-color: #c2ebac;}
.fb_v3 { background-color: #ace68c;}
.fb_v4 { background-color: #9ae074;}
.fb_v5 { background-color: #7ecc54;} /* btn-success */
.fb_v6 { background-color: #67bc39;}
.fb_v7 { background-color: #52a624;}
.fb_v8 { background-color: #52a624;}
.fb_v9 { background-color: #397617;}

.fc_v0 { color: #ecfce3;}
.fc_v1 { color: #d5f5c3;}
.fc_v2 { color: #c2ebac;}
.fc_v3 { color: #ace68c;}
.fc_v4 { color: #9ae074;}
.fc_v5 { color: #7ecc54;} /* .services */
.fc_v6 { color: #67bc39;}
.fc_v7 { color: #52a624;}
.fc_v8 { color: #52a624;}
.fc_v9 { color: #397617;}

/* Ref #0C5B7A = RGB(12,91,122) = HSV(197,90,48) */
.fb_b0 { background-color: #E1F8FC;}
.fb_b1 { background-color: #B2D5DB;}
.fb_b2 { background-color: #83C9D6;}
.fb_b3 { background-color: #58C3D6;}
.fb_b4 { background-color: #38BED6;}
.fb_b5 { background-color: #18B7D4;}
.fb_b6 { background-color: #16A7C4;}
.fb_b7 { background-color: #1290B0;}
.fb_b8 { background-color: #11809E;} /* btn-info */
.fb_b9 { background-color: #0C5B7A;}

.fc_b0 { color: #E1F8FC;}
.fc_b1 { color: #B2D5DB;}
.fc_b2 { color: #83C9D6;}
.fc_b3 { color: #58C3D6;}
.fc_b4 { color: #38BED6;}
.fc_b5 { color: #18B7D4;}
.fc_b6 { color: #16A7C4;}
.fc_b7 { color: #1290B0;}
.fc_b8 { color: #11809E;}
.fc_b9 { color: #0C5B7A;} /* a .logiciel */

/* Ref #C48A1B = RGB(196,168,27) = HSV(39,86,77) */
.fb_j0 { background-color: #FFF8E3;}
.fb_j1 { background-color: #FFEBB5;}
.fb_j2 { background-color: #FFDD82;}
.fb_j3 { background-color: #FFCF4F;}
.fb_j4 { background-color: #FFC529;}
.fb_j5 { background-color: #DBA306;} /* btn-soutenir */
.fb_j6 { background-color: #C48A1B;}
.fb_j7 { background-color: #C47E1B;}
.fb_j8 { background-color: #BA5D17;}
.fb_j9 { background-color: #A15014;}

.fc_j0 { color: #FFF8E3;}
.fc_j1 { color: #FFEBB5;}
.fc_j2 { color: #FFDD82;}
.fc_j3 { color: #FFCF4F;}
.fc_j4 { color: #FFC529;}
.fc_j5 { color: #DBA306;}
.fc_j6 { color: #C48A1B;} /* .vrac */
.fc_j7 { color: #C47E1B;}
.fc_j8 { color: #BA5D17;}
.fc_j9 { color: #A15014;}

/* Ref #CC2D18 = RGB(204,45,24) = HSV(7,88,80) */
.fb_r0 { background-color: #fde0dc;}
.fb_r1 { background-color: #f9bdbb;}
.fb_r2 { background-color: #f69988;}
.fb_r3 { background-color: #f36c60;}
.fb_r4 { background-color: #e84e40;}
.fb_r5 { background-color: #CC2D18;} /* btn-danger */
.fb_r6 { background-color: #C42D16;}
.fb_r7 { background-color: #B82E12;}
.fb_r8 { background-color: #AB2A0E;}
.fb_r9 { background-color: #AB2909;}

.fc_r0 { color: #fde0dc;}
.fc_r1 { color: #f9bdbb;}
.fc_r2 { color: #f69988;}
.fc_r3 { color: #f36c60;}
.fc_r4 { color: #e84e40;}
.fc_r5 { color: #CC2D18;} /* .culture */
.fc_r6 { color: #C42D16;}
.fc_r7 { color: #B82E12;}
.fc_r8 { color: #AB2A0E;}
.fc_r9 { color: #AB2909;}

/* Ref #EB7239 = RGB(235,114,57) = HSV(19,76,92) */
.fb_o0 { background-color: #FAEBE8;}
.fb_o1 { background-color: #EBD1C5;}
.fb_o2 { background-color: #EBB69D;}
.fb_o3 { background-color: #EB9B76;}
.fb_o4 { background-color: #EB8657;}
.fb_o5 { background-color: #EB7239;} /* btn-warning */
.fb_o6 { background-color: #DE6933;}
.fb_o7 { background-color: #D1602C;}
.fb_o8 { background-color: #C05827;}
.fb_o9 { background-color: #A8491D;}

.fc_o0 { color: #FAEBE8;}
.fc_o1 { color: #EBD1C5;}
.fc_o2 { color: #EBB69D;}
.fc_o3 { color: #EB9B76;}
.fc_o4 { color: #EB8657;}
.fc_o5 { color: #EB7239;} /* .soft */
.fc_o6 { color: #DE6933;}
.fc_o7 { color: #D1602C;}
.fc_o8 { color: #C05827;}
.fc_o9 { color: #A8491D;}

/* Ref #A1887F = RGB(161,136,127) = HSV(16,21,63) */
.fb_m0 { background-color: #efebe9;}
.fb_m1 { background-color: #d7ccc8;}
.fb_m2 { background-color: #bcaaa4;}
.fb_m3 { background-color: #a1887f;}
.fb_m4 { background-color: #8d6e63;}
.fb_m5 { background-color: #795548;}
.fb_m6 { background-color: #6d4c41;}
.fb_m7 { background-color: #5d4037;}
.fb_m8 { background-color: #4e342e;}
.fb_m9 { background-color: #3e2723;}

.fc_m0 { color: #efebe9;}
.fc_m1 { color: #d7ccc8;}
.fc_m2 { color: #bcaaa4;}
.fc_m3 { color: #a1887f;}
.fc_m4 { color: #8d6e63;}
.fc_m5 { color: #795548;} /* .signature */
.fc_m6 { color: #6d4c41;}
.fc_m7 { color: #5d4037;}
.fc_m8 { color: #4e342e;}
.fc_m9 { color: #3e2723;}

/* Ref #949494 = RGB(148,148,148) = HSV(0,0,58) */
.fb_g0 { background-color: #fafafa;} /* body */
.fb_g1 { background-color: #f5f5f5;}
.fb_g2 { background-color: #eeeeee;} /* .trait */
.fb_g3 { background-color: #e0e0e0;} /* footer */
.fb_g4 { background-color: #bdbdbd;} /* footer border */
.fb_g5 { background-color: #949494;}
.fb_g6 { background-color: #757575;}
.fb_g7 { background-color: #616161;}
.fb_g8 { background-color: #666666;}
.fb_g9 { background-color: #333333;}

.fc_g0 { color: #fafafa;}
.fc_g1 { color: #f5f5f5;}
.fc_g2 { color: #eeeeee;}
.fc_g3 { color: #e0e0e0;}
.fc_g4 { color: #bdbdbd;}
.fc_g5 { color: #949494;}
.fc_g6 { color: #757575;} /* muted */
.fc_g7 { color: #616161;} /* hn, footer hn */
.fc_g8 { color: #666666;}
.fc_g9 { color: #333333;} /* text */

.fc_light { color: #fff;}
.fc_dark { color: #333;}


#results #main_results a:visited { // Framabee only
    color:#243285 !important;
}

/* Text */
.text-muted,
.text-muted a,
a.text-muted {
  color: #757575;
}

.text-muted a:hover,
.text-muted a:focus,
a.text-muted:hover,
a.text-muted:focus {
    color: #616161;
}
.text-primary,
.text-primary a,
a.text-primary {
    color: #243285;
}
.text-primary a:hover,
.text-primary a:focus,
a.text-primary:hover,
a.text-primary:focus {
    color: #243285;
}
.text-success,
.text-success a,
a.text-success {
    color: #52a624;
}
.text-success a:hover,
.text-success a:focus,
a.text-success:hover,
a.text-success:focus {
    color: #52a624;
}
.text-info,
.text-info a,
a.text-info {
    color: #11809E;
}
.text-info a:hover,
.text-info a:focus,
a.text-info:hover,
a.text-info:focus {
    color: #0C5B7A;
}
.text-warning,
.text-warning a,
a.text-warning {
    color: #C05827;
}
.text-warning a:hover,
.text-warning a:focus,
a.text-warning:hover,
a.text-warning:focus {
    color: #A8491D;
}
.text-danger,
.text-danger a,
a.text-danger {
    color: #B82E12;

}
.text-danger a:hover,
.text-danger a:focus,
a.text-danger:hover,
a.text-danger:focus {
    color: #AB2A0E;
}

/* Background */
.bg-primary,
.bg-primary a:not(.btn),
a.bg-primary:focus:not(.btn),
a.bg-primary:hover:not(.btn) {
    color: #fff;
    background-color: #243285;
}
.bg-success, a.bg-success:hover:not(.btn) {
    background-color: #E3EBC7;
}
.bg-info, a.bg-info:hover:not(.btn) {
    background-color: #E1F8FC;
}
.bg-warning, a.bg-warning:hover:not(.btn) {
    background-color: #FFEBB5;
}
.bg-danger,a.bg-danger:hover:not(.btn) {
    background-color: #fde0dc;
}

/* Alerts */
.alert-success a:not(.btn),
.alert-success a:hover:not(.btn),
.alert-success {
    color: #304219;
    background:#E3EBC7;
    border-color: #C0D481;
}
.alert-info a:not(.btn),
.alert-info a:hover:not(.btn),
.alert-info {
    color: #0C5B7A;
    background-color: #E1F8FC;
    border-color: #B2D5DB;
}
.alert-warning a:not(.btn),
.alert-danger a:hover:not(.btn),
.alert-warning {
    color: #A15014 !important;
    background-color: #FFEBB5;
    border-color: #FFCF4F;
}
.alert-danger a:not(.btn),
.alert-danger a:hover:not(.btn),
.alert-danger {
    color: #AB2909 !important;
    background-color: #fde0dc;
    border-color: #E0B3A8;
}

/* Buttons */
.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #bdbdbd;
}
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
    color: #333;
    background-color: #e0e0e0;
    border-color: #949494;
}
.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
    background-color: #fff;
    border-color: #bdbdbd;
}
.btn-default .badge {
    color: #fff;
    background-color: #757575;
}
.btn-primary {
    color: #fff;
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.7);
    background-color: #243285;
    border-color: #243285;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #243285;
    border-color: #243285;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
    background-color: #243285;
    border-color: #243285;
}
.btn-primary .badge {
    color: #243285;
    text-shadow: none;
    background-color: #fff;
}
.btn-success {
    color: #fff;
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.7);
    background-color: #52a624;
    border-color: #52a624;
}
.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.open > .dropdown-toggle.btn-success {
    color: #fff;
    background-color: #52a624;
    border-color: #52a624;
}
.btn-success.disabled,
.btn-success[disabled],
fieldset[disabled] .btn-success,
.btn-success.disabled:hover,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success:hover,
.btn-success.disabled:focus,
.btn-success[disabled]:focus,
fieldset[disabled] .btn-success:focus,
.btn-success.disabled:active,
.btn-success[disabled]:active,
fieldset[disabled] .btn-success:active,
.btn-success.disabled.active,
.btn-success[disabled].active,
fieldset[disabled] .btn-success.active {
    background-color: #52a624;
    border-color: #52a624;
}
.btn-success .badge {
    color: #52a624;
    text-shadow: none;
    background-color: #fff;
}
.btn-info {
    color: #fff;
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.7);
    background-color: #11809E;
    border-color: #11809E;
}
.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-info.active,
.open > .dropdown-toggle.btn-info {
    color: #fff;
    background-color: #0C5B7A;
    border-color: #0C5B7A;
}
.btn-info.disabled,
.btn-info[disabled],
fieldset[disabled] .btn-info,
.btn-info.disabled:hover,
.btn-info[disabled]:hover,
fieldset[disabled] .btn-info:hover,
.btn-info.disabled:focus,
.btn-info[disabled]:focus,
fieldset[disabled] .btn-info:focus,
.btn-info.disabled:active,
.btn-info[disabled]:active,
fieldset[disabled] .btn-info:active,
.btn-info.disabled.active,
.btn-info[disabled].active,
fieldset[disabled] .btn-info.active {
    background-color: #11809E;
    border-color: #11809E;
}
.btn-info .badge {
    color: #0C5B7A;
    text-shadow: none;
    background-color: #fff;
}
.btn-warning {
    color: #fff;
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.7);
    background-color: #EB7239;
    border-color: #EB7239;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active,
.btn-warning.active,
.open > .dropdown-toggle.btn-warning {
    color: #fff;
    background-color: #DE6933;
    border-color: #DE6933;
}
.btn-warning.disabled,
.btn-warning[disabled],
fieldset[disabled] .btn-warning,
.btn-warning.disabled:hover,
.btn-warning[disabled]:hover,
fieldset[disabled] .btn-warning:hover,
.btn-warning.disabled:focus,
.btn-warning[disabled]:focus,
fieldset[disabled] .btn-warning:focus,
.btn-warning.disabled:active,
.btn-warning[disabled]:active,
fieldset[disabled] .btn-warning:active,
.btn-warning.disabled.active,
.btn-warning[disabled].active,
fieldset[disabled] .btn-warning.active {
    background-color: #EB7239;
    border-color: #EB7239;
}
.btn-warning .badge {
    color: #C05827;
    text-shadow: none;
    background-color: #fff;
}
.btn-danger {
    color: #fff;
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.7);
    background-color: #CC2D18;
    border-color: #CC2D18;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger.active,
.open > .dropdown-toggle.btn-danger {
    color: #fff;
    background-color: #B82E12;
    border-color: #B82E12;
}
.btn-danger.disabled,
.btn-danger[disabled],
fieldset[disabled] .btn-danger,
.btn-danger.disabled:hover,
.btn-danger[disabled]:hover,
fieldset[disabled] .btn-danger:hover,
.btn-danger.disabled:focus,
.btn-danger[disabled]:focus,
fieldset[disabled] .btn-danger:focus,
.btn-danger.disabled:active,
.btn-danger[disabled]:active,
fieldset[disabled] .btn-danger:active,
.btn-danger.disabled.active,
.btn-danger[disabled].active,
fieldset[disabled] .btn-danger.active {
    background-color: #CC2D18;
    border-color: #CC2D18;
}
.btn-danger .badge {
    color: #C42D16;
    text-shadow: none;
    background-color: #fff;
}

.navbar-default .navbar-nav > li > a.btn-soutenir,
.btn-soutenir {
    color: #fff !important;
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    background-color: #DBA306;
    border-color: #DBA306;
}
.navbar-default .navbar-nav > li > a.btn-soutenir:hover,
.navbar-default .navbar-nav > li > a.btn-soutenir:focus,
.navbar-default .navbar-nav > li > a.btn-soutenir:active,
.btn-soutenir:hover,
.btn-soutenir:focus,
.btn-soutenir:active,
.btn-soutenir.active,
.open > .dropdown-toggle.btn-soutenir {
    color: #fff;
    background-color: #C48a1b;
    border-color: #C48a1b;
}

.navbar-default .navbar-nav > li > a.btn-adherer,
.btn-adherer {
    color: #fff !important;
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    background-color: #de3267;
    border-color: #de3267;
}
.navbar-default .navbar-nav > li > a.btn-adherer:hover,
.navbar-default .navbar-nav > li > a.btn-adherer:focus,
.navbar-default .navbar-nav > li > a.btn-adherer:active,
.btn-adherer:hover,
.btn-adherer:focus,
.btn-adherer:active,
.btn-adherer.active,
.open > .dropdown-toggle.btn-adherer {
    color: #fff;
    background-color: #b5355d;
    border-color: #b5355d;
}


/* Labels */
.label-default {
  background-color: #757575;
}
.label-default[href]:hover,
.label-default[href]:focus {
  background-color: #757575;
}
.label-primary,
.label-primary[href]:hover,
.label-primary[href]:focus {
  background-color: #243285;
}
.label-success,
.label-success[href]:hover,
.label-success[href]:focus {
  background-color: #52a624;
}
.label-info,
.label-info[href]:hover,
.label-info[href]:focus {
  background-color: #11809E;
}
.label-warning,
.label-warning[href]:hover,
.label-warning[href]:focus {
  background-color: #C05827;
}
.label-danger,
.label-danger[href]:hover,
.label-danger[href]:focus {
  background-color: #CC2D18;
}

/* Nav pills */
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  color: #fff;
  background-color: #243285;
}

/* Modal header title */
.modal-header h1,.modal-header h2,.modal-header h3,
.modal-header h4,.modal-header h5,.modal-header h6 {
    font-size: 24px;
}

/* Cleaning */
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a,
a.btn,
.nav-pills a,
.nav-container a,
.dropdown-menu a,
.nav a { text-decoration:none !important;}


.close:hover, .close:focus {
  outline: dotted 1px black;
}

.nav > li > a:focus {
  outline: dotted 1px black;
}
