#framanav a{
    font-weight: normal;
}
#framanav,
#framanav .dropdown-menu li {
    font-size: 12px !important;
    font-family: "DejaVu Sans",Verdana,Geneva,sans-serif !important;
    text-align:justify;
    display: block;
}

#framanav .dropdown { /* Force réinit pour Framadrive */
    box-shadow:none;
    background:transparent;
    border-radius:none;
    z-index:auto;
    padding:0;
    width:auto;
}

#framanav .dropdown-menu {
    min-width:140px;
}

#framanav .dropdown-menu > li > a, .spip-admin-boutons {
    padding: 3px 15px !important;
}

#framanav .dropdown a .caret {
    margin-left:-50%;
    margin-top:22px;
    visibility:hidden;
}
#framanav .dropdown-menu .divider {
    background-color: rgb(229, 229, 229) !important;
    opacity:1 !important;
    border-bottom: 0px;
}

#framanav .dropdown a:hover .caret,
#framanav .dropdown a:focus .caret {
    visibility:visible;
}

#modal-don .new-window,
#modal-contact .new-window,
#link-opt-in .new-window,
#framanav .dropdown-menu li a .new-window { /*a:not(.modal-link)*/
    visibility:hidden;
    font-size:10px !important;
}

#modal-don:hover .new-window,
#modal-contact:hover .new-window,
#link-opt-in:hover .new-window,
#framanav .dropdown-menu li a:hover .new-window,
#modal-don:focus .new-window,
#modal-contact:focus .new-window,
#link-opt-in:focus .new-window,
#framanav .dropdown-menu li a:focus .new-window {
    visibility:visible;
}

#adherents .dropdown-menu li a:hover, #adherents .dropdown-menu li a:focus,
#adherents-mobile .dropdown-menu li a:hover, #adherents-mobile .dropdown-menu li a:focus
{background-color: #243285 !important;color:#fff !important;} /* bleu logiciel */

#degooglisons .dropdown-menu li a:hover, #degooglisons .dropdown-menu li a:focus,
#degooglisons-mobile .dropdown-menu li a:hover, #degooglisons-mobile .dropdown-menu li a:focus
{background-color: #52a624 !important;color:#fff !important;} /* vert services */

#framanav .dropdown:nth-child(3) .dropdown-menu li a:hover, #framanav .dropdown:nth-child(3) .dropdown-menu li a:focus
{background-color: #ed303f !important;color:#fff !important;} /* rouge culture */
#framanav .dropdown:nth-child(4) .dropdown-menu li a:hover, #framanav .dropdown:nth-child(4) .dropdown-menu li a:focus
{background-color: #ed9f44 !important;color:#fff !important;} /* jaune en vrac */

#framanav .dropdown:nth-child(5) .dropdown-menu li a:hover, #framanav .dropdown:nth-child(5) .dropdown-menu li a:focus
{background-color: #243285 !important;color:#fff !important;} /* violet nous suivre */
#framanav .dropdown:nth-child(6) .dropdown-menu li a:hover, #framanav .dropdown:nth-child(6) .dropdown-menu li a:focus
{background-color: #52a624 !important;color:#fff !important;} /* orange a propos */

#framanav .frama { color: #243285; vertical-align:top !important;}
#framanav .soft { color: #52a624; vertical-align:top !important;}

@media (max-width: 768px) {
    #apropos span.hidden {
        display:inline !important;
        visibility:visible !important;
    }
}

#framanav {
    min-height:30px !important;                 /*50px sur BS */
    margin-bottom:0;
    height:42px;
}

#framanav.navbar {
    z-index:1001;
    background-color: #FAFAFA !important;
    border-radius:0;
    border-top:0px solid #FAFAFA;
    border-bottom:1px solid #bdbdbd;
}

#framanav img {margin:0}

#framanav .navbar-brand,
#framanav .navbar-nav > li > a {
    padding:10px 15px;                /*15px sur BS*/
}

#framanav .dropdown-toggle {
    padding:10px 10px 5px 10px !important;
}

#framanav .nav-container {
    margin:auto;
    background-color:#f8f8f8;
}

@media (min-width: 768px) {
    #framanav .nav-container {
        width:760px;        /* largeur fixe pour que la nav tienne sur une seule ligne */
    }
    #framanav.navbar .collapse { /* bug dans certaines config en box-sizing: content-box*/
        height:40px !important;
    }
    #framanav .navbar-collapse {
        padding: 0 !important;
    }
}
@media (max-width: 768px) { /* la nav pour tablette/mobile n'a pas ce problème */
    #framanav .nav-container {
        width:auto;
    }
}

.navbar .nav{
    margin: 0px;
}

#framanav .popover {
    width : 300px;
}
#framanav .popover a {
    color:#333;
    text-decoration:none;
}
#framanav .popover.right {
    margin-top:25px;
}
#framanav .popover.right .arrow {
    margin-top:-35px;
}

#framanav .popover.bottom {
    margin-left:-100px;
}
#framanav .popover.bottom .arrow {
    margin-left:100px;
}

#modal-soutenir p {
    font-size:14px !important;
}

#modal-soutenir #lldemars-framasoft { /* lldemars-framasoft.png */
 background-image: url(../img/soutenir.png);
 float:right;
 width:150px;
 height:243px;
 margin-left:15px
}

a#framanav_donation { /* don.png */
    position: fixed;
    right: 0;
    bottom: 0;
    display: block;
    height: 70px;
    width: 70px;
    background: no-repeat url(../img/macaron.png);
    z-index : 1101;
}
a#framanav_donation:hover {filter:alpha(opacity=90);-moz-opacity:0.9;-khtml-opacity: 0.9;opacity: 0.9;}

#framanav .navbar-brand {
    font-weight: bold;
    height: 40px;
    padding:0;
    line-height:40px;
    font-size: 20px;
    margin-right:15px;
}

#framanav .navbar-brand img {
    border:none;
    margin-top:-2px;
    display: inline;
}

.chatons{
    color: black;
    font-size: 0.52em;
    height: 26px;
    line-height: 1.3em;
    display: inline-block;
    vertical-align: middle;
}
.chatons .bigger{
    font-size: 1.4em;
}

#framanav .popover-title { font-weight: bold; }

.modal-backdrop {
    z-index: 1029 !important;
}

.navbar-default .navbar-nav > li > a.btn-soutenir,
.navbar-default .navbar-nav > li > a.btn-adherer,
.navbar-default .navbar-nav > li > a.btn-info,
.spip-admin-boutons{
    font-size:12px !important;
    color: #fff;
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    height: 42px;
    padding-bottom: 0px !important;
    padding-top: 0px !important;
    line-height: 42px;
    border:none !important;
}
.navbar-default .navbar-nav > li > a.btn-soutenir,
.navbar-default .navbar-nav > li > a.btn-info{
    background-color: #DBA306;
}
.navbar-default .navbar-nav > li > a.btn-soutenir:hover,
.navbar-default .navbar-nav > li > a.btn-soutenir:focus,
.navbar-default .navbar-nav > li > a.btn-soutenir:active {
    color: #fff;
    background-color: #C48a1b;
}
.navbar-default .navbar-nav > li > a.btn-adherer{
    background-color: #de3267;
}
.navbar-default .navbar-nav > li > a.btn-adherer:hover,
.navbar-default .navbar-nav > li > a.btn-adherer:focus,
.navbar-default .navbar-nav > li > a.btn-adherer:active {
    color: #fff;
    background-color: #b5355d;
}
#btn-benevalo {
    width: 135px;
    display:none;
    text-align:center;
}
.navbar-default .navbar-nav > li > a.btn-info {
    background-color: #11809E;
}
.navbar-default .navbar-nav > li > a.btn-info:hover,
.navbar-default .navbar-nav > li > a.btn-info:focus,
.navbar-default .navbar-nav > li > a.btn-info:active {
    color: #fff;
    background-color: #243285;
}

/* --- on s'assure on a bien une nav collée en haut en cas de petit écran --- */
@media (max-width: 979px) {
    body {
            margin-top: 0px !important;
    }
}

.navbar-toggle {padding: 4px 6px !important;}

#nav-skip {
    position:absolute;
    margin-top:-5000px;
}
#nav-skip:focus {
    width: auto;
    line-height: 20px;
    margin: 0 0 0 -135px;
    padding: 10px 20px;
    background-color: #fafafa;
    color: #333;
    outline: 1px dotted #000;
    text-decoration:none;
    font-size:12px;
}

/* Alerts */
#nav-alert {
    border-top:0px;
    border-left:0px;
    border-right:0px;
}

#nav-alert.alert-don {
    color: #333;
    background-color: #FFC529;
    border-color: #333;
}

#nav-alert.alert-black {
    color: #fff;
    background-color:  #333;
    border-color: #333;
}

#nav-alert.alert {
    padding:10px;
    margin-bottom:0;
    font-size:14px;
    line-height:18px;
    font-family: "DejaVu Sans",Verdana,Geneva,sans-serif !important;
    text-shadow:none;
}
#nav-alert.alert p {
    margin-bottom:5px;
    margin-top:0px;
}

#nav-alert.alert a {
    font-weight:inherit !important;
}

#nav-alert.alert-success a:not(.btn),
#nav-alert.alert-success a:hover:not(.btn),
#nav-alert.alert-success {
    color: #304219 !important;
    background:#E3EBC7 !important;
    border-color: #C0D481 !important;
}
#nav-alert.alert-info a:not(.btn),
#nav-alert.alert-info a:hover:not(.btn),
#nav-alert.alert-info {
    color: #0C5B7A !important;
    background-color: #E1F8FC !important;
    border-color: #B2D5DB !important;
}
#nav-alert.alert-warning a:not(.btn),
#nav-alert.alert-danger a:hover:not(.btn),
#nav-alert.alert-warning {
    color: #A15014 !important;
    background-color: #FFEBB5 !important;
    border-color: #FFCF4F !important;
}
#nav-alert.alert-danger a:not(.btn),
#nav-alert.alert-danger a:hover:not(.btn),
#nav-alert.alert-danger {
    color: #AB2909 !important;
    background-color: #fde0dc !important;
    border-color: #E0B3A8 !important;
}

#nav-alert .close {
    position: absolute;
    right: 0px;
    margin-right: 5px;
    margin-top: -5px;
}

#nav-alert .clearfix {
    height:auto !important;
    overflow:visible !important;
}

/* Video JS */
.vjs-default-skin .vjs-big-play-button {
    left:50%;
    top:50%;
    margin-left:-63px;
    margin-top:-42px;
}

.vjs-default-skin .vjs-volume-level,
.vjs-default-skin .vjs-play-progress {
    background-color:#EB7239;
}

.video-js {
    margin:0 auto;
}
.vjs-progress-holder {
    margin:0 !important;
}
.vjs-default-skin .vjs-control-bar {
    background-color:#1b1b1b;
}

.audio .vjs-big-play-button,
.audio .vjs-loading-spinner,
.audio .vjs-fullscreen-control {
    display:none
}

.audio .vjs-control-bar,
.audio .vjs-default-skin.vjs-has-started.vjs-user-inactive.vjs-playing .vjs-control-bar {
    display: block;
    visibility: visible!important;
    opacity: 1!important;
}

.audio .vjs-volume-control {
    margin-right:15px;
}

.audio .vjs-progress-control {
    font-size:0.9em;
}

/* Opt-in */
#fs_opt-in, #fs_opt-in_confirm, #fs_opt-in_error {
    margin-top:10px;
    margin-bottom:10px;
    font-size:13px;
    padding:10px;
    line-height: 17px;
}
#commentform #fs_opt-in,
#commentform #fs_opt-in_confirm,
#commentform #fs_opt-in_error {  /* wordpress */
    min-width: 555px;
}
#fs_opt-in small {
    font-size:11px;
}

#fs_opt-in input {
    margin:0;
    width:auto !important;
    display:inline !important;
}

#fs_opt-in label {
    display: inline !important;
    float: none !important;
    width: auto !important;
    text-align: left !important;
    font-weight: normal !important;
    margin: 0px 0px 0px 5px !important;
    white-space: normal;
    color: #243285;
}


.navbar-default .navbar-nav .open .dropdown-menu > li > a,
.navbar-default .navbar-nav > li > a {
    color:#555;
}

/* Footer */
#framafooter {
    padding:20px 0 20px 0;
    margin:0;
    background:#dfdfdf;
    color:#333;
    font-size:14px;
    width:100%;
    bottom:0;
    border-top:1px solid #ccc;
}

#framafooter .container {
    min-height:0px;
    padding: 0;
}

#framafooter h1 {
    font-size:14px;
    font-weight:bold;
    margin-top:0;
}

#framafooter h2 {
    font-size:14px;
    font-weight:bold;
}
#framafooter a {
    color:#333;
    text-decoration:none;
    border-bottom:none;
}

#framafooter a:hover,
#framafooter a:focus {
    text-decoration:underline;
}

#framafooter a .fa-fw {
    padding:5px;
    width:36px;
    height:36px;
    text-decoration:none;
}
#framafooter a:hover .fa,
#framafooter a:focus .fa {
    background:#243285;
    color:#fff;
    border-radius:5px;
}

/* Modal header title */
.modal-header h1,.modal-header h2,.modal-header h3,
.modal-header h4,.modal-header h5,.modal-header h6, .modal-header p {
    font-size: 24px;
}

/* Fix Theme Wordpress Virtue */
.frama.hidden-sm, .soft.hidden-sm, .titrelong.hidden-sm{
    display:inline !important;
}

@media (max-width: 991px) {
  .frama.hidden-sm, .soft.hidden-sm, .titrelong.hidden-sm {
    display: none !important;
  }
}

body.apropos {
    background: #f5f5f5;
}
body.apropos > .container.ombre {
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 20px 30px 20px 30px;
}

body.apropos #piwik-iframe {
    max-width:640px;
    margin-left:auto;
    margin-right:auto;
}

@media (min-width: 992px) {
    #adherents ul, #degooglisons ul,
    #adherents-mobile ul, #degooglisons-mobile ul {
        min-width:280px !important;
        margin-left:-86px;
    }
    #adherents li, #degooglisons li,
    #adherents-mobile li, #degooglisons-mobile li {
        width:50%;
        float:left;
    }
    #adherents li.divider, #degooglisons li.divider,
    #adherents li:nth-child(1) , #degooglisons li:nth-child(1),
    #adherents-mobile li.divider, #degooglisons-mobile li.divider,
    #adherents-mobile li:nth-child(1) , #degooglisons-mobile li:nth-child(1) {
        width:100%;
        text-align:center;
    }
}

.comingsoon{
   pointer-events: none;
   cursor: default;
}


/* spip admin */

.spip-admin-float{
    right: 20px;
    margin-top: 0px;
    position: fixed;
    top: 0px;
    white-space: nowrap;
}
.spip-admin-boutons{
    opacity: 1;
    box-shadow: none  !important;
    border-radius: 0px !important;
    text-decoration: none !important;
    font-weight: normal;
}
.spip-admin-boutons:hover,.spip-admin-boutons:focus,.spip-admin-boutons:active{
    color: #fff;
    margin-top: 0px;
    box-shadow: none !important;
}
#spip-admin{
    right: 64px;
}

.login, .logout{
    padding: 0px !important;
}
.login a, .logout a{
    font-size: 0em;
    width: 16px;
    height: 16px;
    padding: 12px;
    background-image: url(../img/icons/log-white.png);
    background-repeat: no-repeat;
    background-clip: content-box;
    transition-property: none;
}
.login a[href="ecrire/"]{
    display: none;
}
.login a, .logout a:hover, .logout a:focus, .logout a:active{
    background-position: 12px center;
}
.logout a, .login a:hover, .login a:focus, .login a:active{
    background-position: -4px center;
}
.nav > li.spip-admin-boutons > a:hover, .nav > li.spip-admin-boutons > a:focus{
    background-color: transparent;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-submenu:hover > a, .dropdown-submenu:focus > a{
    background-image: none;
}