<div class="well">
<h1>Framasoft - Accueil</h1>
    <p>Cette page est un portail qui présente l’ensemble des activités et des sites web du réseau Framasoft.</p>

    <p>Maquette et intégration : Sandra Guigonis, aka peupleLà</p>
    <p>Carrousel : JosephK</p>

    <h2>Licence</h2>
        <p>Sources des images utilisées dans le carrousel :</p>
        <ul>
            <li><a href="https://wiki.framasoft.org/visuels_plm"><em>Dégooglisons Internet</em></a>, Simon « Gee » Giraudot, Creative Commons By-SA</li>
            <li><a href="http://commons.wikimedia.org/wiki/File:Diaspora_dandy_logo.png?uselang=fr"><em>Logo of Diaspora Project</em></a>, Diaspora Project, Creative Commons By-SA</li>
            <li><a href="https://flic.kr/p/aLFEFD"><em>Capitole du Libre 2011</em></a>, Guillaume Paumier, Creative Commons By</li>
            <li><a href="https://flic.kr/p/7NFTF6"><em>Code</em></a>, Michael Himbeault, Creative Commons By</li>
            <li><a href="https://flic.kr/p/ijdmqs"><em>REPLAY</em></a>,  Casey Hugelfink, Creative Commons By-SA</li>
            <li><a href="https://flic.kr/p/k1Wjhe"><em>Merci / Thank you</em></a>, Frédérique Voisin-Demery, Creative Commons By</li>
            <li><a href="https://flic.kr/p/dznBWv"><em>Business as usual...</em></a>, Thomas Leuthard, Creative Commons By</li>
            <li><a href="https://flic.kr/p/8EeJ5A"><em>Wallaby with Baby</em></a>, William Warby, Creative Commons By</li>
        </ul>

    <h2>Configuration minimale</h2>
        <p>Vous avez besoin d’un navigateur récent supportant les fonctionnalités du HTML5 et de la CSS3.
        Chrome 10+, Firefox 3.6+, Safari 5+, Opera 10.6+, IE9+ devraient fonctionner correctement.</p>
</div>
